<table>
  <thead>
    <tr>
      <td><button ng-click="sortPhotosByPriority();"><%= t('users.show.priority')%></button></td>
      <td><%= t('users.show.photo')%></td>
      <td><%= t('users.show.posted')%></td>
      <td><button ng-click="sortPhotosByRating();"><%= t('users.show.rating')%></button></td>
      <td><%= t('users.show.lastComment')%></td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="photo in user.photos">
      <td>{{photo.priority}}</td>
      <td class="photo-cell">
        <!--onpage image-->
        <div class="gallery-image">
          <p ng-hide="isDragDisabled">Priority: {{photo.priority}}</p>
          <a href="#photo{{photo.id}}" class="modal-trigger"><img ng-src="{{photo.url}}"/></a>
        </div>
      </td>
      <td>{{photo.created_at}}</td>
      <td>{{photo.rating}}</td>
      <td>{{photo.comments[photo.comments.length - 1].text}}</td>
    </tr>
  </tbody>
</table>