<div ng-controller="UsersIndexCtrl">
  <p id="notice"><%= notice %></p>

  <h1>Users</h1>

  <table>
    <thead>
    <tr>
      <th><%= User.human_attribute_name('name') %></th>
      <th><%= User.human_attribute_name('avatar') %></th>
      <th><%= User.human_attribute_name('birth') %></th>
      <th><%= User.human_attribute_name('weight') %></th>
      <th><%= User.human_attribute_name('height') %></th>
      <th><%= User.human_attribute_name('sex') %></th>
      <th><%= User.human_attribute_name('role') %></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="user in users">
      <td ng-bind="user.name"></td>
      <td>
        <div class="image-container">
          <img ng-src="{{user.avatar.url}}"/>
        </div>
      </td>
      <td ng-bind="user.birth | date:'dd.MM.yyyy'"></td>
      <td ng-bind="user.weight"></td>
      <td ng-bind="user.height"></td>
      <td ng-bind="user.sex"></td>
      <td ng-bind="user.role.title"></td>
      <td><a class="btn" href="users/{{user.id}}"><%= t('show') %></a></td>
      <td><a class="btn" href="users/{{user.id}}/edit"><%= t('edit') %></a></td>
      <td><button class="btn" ng-click="destroy(user)"><%= t('delete') %></button></td>
    </tr>
    </tbody>
  </table>
</div>
