<div ng-controller="UserCtrl">
  <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
  <meta name="action-cable-url" content="ws://localhost:3000/cable"/>
  <p id="notice"><%= notice %></p>
  <h2 ng-bind="user.name"></h2>

  <div class="profile">

    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a href="#profiletab">Profile</a></li>
          <li class="tab col s3"><a class="active" href="#portfoliotab">Portfolio</a></li>
        </ul>
      </div>
      <div id="profiletab" class="col s12">
        <div class="avatar-container">
          <img id="avatar" ng-click="editAvatar();" ng-src="{{user.avatar.url}}"/>
        </div>

        <div id="avatar-modal" class="modal">
          <div class="modal-content">
            <div class="gallery" >
              <div ng-repeat="photo in user.photos" class="gallery-image-container">
                <div class="gallery-image">
                  <img ng-src="{{photo.url}}" class="avatar-variant" ng-click="setAvatar(photo);"/>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="profile-info">
          <p>
            <strong>Birth:</strong>
            <span ng-bind="user.birth | date:'dd.MM.yyyy'"></span>
          </p>

          <p>
            <strong>Weight:</strong>
            <span ng-bind="user.weight"></span> kg
          </p>

          <p>
            <strong>Height:</strong>
            <span ng-bind="user.height"></span> cm
          </p>

          <p>
            <strong>Sex:</strong>
            <span ng-bind="user.sex"></span>
          </p>

          <p>
            <strong>Preferences:</strong>
            <span ng-repeat="preference in user.preferences"> {{preference.value}} </span>
          </p>
        </div>
      </div>
      <div id="portfoliotab" class="col s12">
        <div class="gallery-container">
          <div id="gallery-dropzone">
            <form id="dropform" action="/upload" class="dropzone">
              <input type="hidden" name="user_id" ng-value="user.id"/>
            </form>
          </div>
          <div class="view-select">
            <p>
              <button ng-click="show('table');">Table</button>
              <button ng-click="show('tiles');">Tiles</button>
              <button ng-click="show('slideshow');">Slideshow</button>
            </p>
          </div>
          <div class="gallery">
            <div class="slideshow" ng-show="partial == 'slideshow'">
              <%= render 'slideshow' %>
            </div>
            <div class="table" ng-show="partial == 'table'">
              <%= render 'table' %>
            </div>
            <div class="tiles" ng-show="partial == 'tiles'">
              <%= render 'tiles' %>
            </div>
            <!--modals block-->
            <div ng-repeat="photo in user.photos" id="photo{{photo.id}}" class="modal">
              <div class="modal-content">
                <div class="modal-image">
                  <div class="modal-toolbar">
                    <div class="modal-hashtags" >
                      <div class="chip" ng-repeat="hashtag in photo.hashtags">
                        #{{hashtag.tag}}
                      </div>
                      <div id="{{photo.id}}" class="chips chips-autocomplete">
                      </div>
                    </div>
                    <div class="modal-rating" >
                      Rating: {{photo.rating}}
                      <button class="btn-rating" ng-click="rate(photo, 1);">1</button>
                      <button class="btn-rating" ng-click="rate(photo, 2);">2</button>
                      <button class="btn-rating" ng-click="rate(photo, 3);">3</button>
                      <button class="btn-rating" ng-click="rate(photo, 4);">4</button>
                      <button class="btn-rating" ng-click="rate(photo, 5);">5</button>
                    </div>
                    <div class="modal-photo-controls">
                      <button class="btn">Edit hashtags</button>
                      <button class="btn">Delete</button>
                    </div>
                  </div>
                  <img ng-src="{{photo.url}}"/>
                </div>
                <div class="modal-comments">
                  <p ng-repeat="comment in photo.comments">{{comment.user_id}} : {{comment.text}}</p>
                  <div class="comment-form">
                    <form name="commentForm" ng-controller="CommentsCtrl">
                      <input type="text" name="commentText" ng-model="commentText">
                      <button class="btn" ng-click="sendToCommentsChannel(commentText)" after-render="setup">Send</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>

  <script src="<%= asset_path 'dropzone.js' %>"></script>
  <script src="<%= asset_path 'algorithmia-0.2.0.js' %>"></script>
  <script src="<%= asset_path 'dropzone_setup.js.erb' %>"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</div>