<h2><%= t('.registration') %></h2>

<%= form_for @account, url: accounts_path, method: :post do |f| %>
    <%= f.label :email, t(Account.human_attribute_name('email')) %>
    <%= f.email_field :email %>

    <%= f.label :password, t(Account.human_attribute_name('password')) %>
    <%= f.password_field :password %>

    <%= f.hidden_field :provider %>
    <%= f.hidden_field :uid %>
    <%= f.hidden_field :user_id %>
    <%= f.submit %>
<% end %>